{% extends "email/struttura.html" %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}

{% block contenuto %}
{% blocktrans %}
    
<h2>Conferma di registrazione</h2>

<p>
	Ciao {{ nome }} {{ cognome }},<br /><br />
	ti sei registrato recentemente su <em>{{domain}}</em>. 
</p>
<p>
	Per favore conferma la registrazione cliccando sul seguente link:<br /><br />
	<a href="http://{{ domain }}/accounts/conferma/{{ confirmation_code }}/{{ id }}/" style="display:block;border:1px solid #2284a1;text-align:center;font-weight:bold;color:#ffffff;background:#2ba6cb;padding:10px;text-decoration:none;">
		Conferma registrazione
	</a>
</p>
<p>
	Grazie,<br />
	Lo Staff di <em>{{domain}}</em>
</p>
<p><br />
	___<br />
	Nel caso avessi effettuato la registrazione per errore o non fossi stato tu ad effettuarla, non considerare questo messaggio.
</p>
<p>
	<small style="color:#999999">Nota: questa è un'e-mail generata automaticamente e non avremo la possibilità di leggere eventuali e-mail di risposta. Non rispondere a questo messaggio.</small>
</p>

{% endblocktrans %}
{% endblock %}
