{% load static %}
{% load compress %}
{% load require %}

<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="author" content="Copyright &copy; 2015-{% now "Y" %} by Carlo Zanatto  - GPLv3 License">
		<!-- <link rel="shortcut icon" href="favicon.ico"> -->

		<title>{% block title %}{{ seo_end }} PoliticalFeedback{% endblock %} - Solo uno strumento, non una gerarchia!</title>

		{% compress css %}
		{% endcompress %}
		<link rel="stylesheet" href="{% static 'foundation-sites/dist/foundation.css' %}">
		<link rel="stylesheet" href="{% static 'css/app.css' %}">
		<link rel="stylesheet" href="{% static 'css/_/themes/movimento.css' %}">
		<link rel="stylesheet" href="{% static 'css/dripicons/dripicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/typicons.css' %}" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		{% compress js %}

		{% endcompress %}

		{% block extrahead %}{% endblock %}

		{% block require %}{% require_module 'app' %}{% endblock %}
	</head>

	<body class="bg-app">

		<div class="app-container">
			<div class="row expanded no-pad no-margin container" data-equalizer data-equalize-on="large" id="content-eq">
				<div class="leftmenu  no-pad" id="leftmenu" data-equalizer-watch>
					{% block leftmenu %}
						{% include "_/app_leftmenu.html" %}
					{% endblock leftmenu %}
				</div>
				<div class="columns small-12 large-expand app-content" data-equalizer-watch>
					{% block topnav %}
						{% include "_/app_topnav.html" %}
					{% endblock topnav %}

					{% block content %}{% endblock %}

					<p class="text-center text-gray" style="margin-top:10px;">Copyright &copy; 2015-{% now "Y" %} by Carlo Zanatto - <a href="http://www.gnu.org/licenses/" target="_blank" class="text-gray">GPLv3 License</a></p>
				</div>
			</div>
		</div>

	</body>
</html>
