{% load static %}
{% load require %}

<!DOCTYPE html>
<html lang="it" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="author" content="Copyright &copy; 2015-{% now "Y" %} by Carlo Zanatto  - GPLv3 License">
		<!-- <link rel="shortcut icon" href="favicon.ico"> -->

		<title>Politicalfedback | {% block page_title %}{% endblock %}</title>

		{% block prehead %}{% endblock %}

		<link rel="stylesheet" href="{% static 'foundation-sites/dist/foundation.css' %}">
		<link rel="stylesheet" href="{% static 'css/dripicons/dripicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/typicons.css' %}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="{% static 'css/app.css' %}">
		<link rel="stylesheet" href="{% static 'css/_/themes/dark-green-white.css' %}">

		{% block extrahead %}{% endblock %}

		{% block require %}{% require_module 'app' %}{% endblock %}

	</head>

	<body class="bg-black">

		<div style="min-height:100%; position:relative; padding-bottom:60px;" class="login-background">

			<div class="" style="height:100px;"></div>

			<div class="row expanded">
				{% block content %}{% endblock %}
			</div>

			<div class="row expanded no-margin bg-opacity" style="position:absolute; bottom:0; width:100%;">
				<div class="large-12 columns">
					<footer class="text-right">
						<div id="footer">Copyright &copy; 2015-{% now "Y" %} by Carlo Zanatto - <a href="http://www.gnu.org/licenses/" target="_blank" class="text-gray">GPLv3 License</a></div>
					</footer>
				</div>
			</div>

		</div>

		{% block extraprescripts %}{% endblock %}
		{% block postscripts %}{% endblock %}

	</body>
</html>
