{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block precontainer %}<div id="wrap-home">{% endblock %}
{% block postcontainer %}</div>{% endblock %}

{% block testata %}
	{% include "_/testata_sito.html" %}
{% endblock %}

{% block content %}
   
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3>Solo uno strumento, non una gerarchia! </h3>
          <p>Permetterà di condividere, discutere collaborare ai problemi.</p>
          <p>Puoi contribuire in qualsiasi modo:</p>
          <div class="row">
            <div class="large-4 medium-4 columns">
          <p><a href="http://politicalfeedback.fioretechnology.com/docs">Documentazione</a><br />Tutto quello che vuoi sapere su questa piattaforma.</p>
        </div>
            <div class="large-4 medium-4 columns">
              <p><a href="https://github.com/fioretechnology/politicalfeedback">PoliticalFeedback on Github</a><br />L'ultimo codice, gli sviluppi e tutto il resto.</p>
            </div>
            <div class="large-4 medium-4 columns">
              <p><a href="https://www.facebook.com/groups/politicalfeedback/">Ovviamente su Facebook</a><br />Discuti le questioni le nuove proposte, inserisci le Tue idee.</p>
            </div>        
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extrahead %}

{% endblock %}

{% block extraprescripts %}
<script type="text/javascript" src='{% static 'js/ftslider.js' %}'></script>
{% endblock extraprescripts %}