{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load require %}

{% block require %}{% require_module 'listacategorie' %}{% endblock %}

{% block content %}
<div class="row" style="margin-top:-20px">

    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <!-- tools box -->
                <div class="pull-right box-tools">

                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="icon-graph-pie"></i>
                    <span>Lista categorie</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="display: block;">






				<div class="row">
					<div class="large-12 columns">
							<table id="listaschede" class="display hover" cellspacing="0" width="100%">
							<thead><tr><th>Categoria</th><th>Descrizione</th><th></th></tr></thead>
							<tbody>
							{% for c in lista %}

							<tr>
								<td><h5>{{ c.titolo }}
								</td>
								<td>{{ c.descrizione }}</h6>

								<td>
									<ul class="button-group">
									<li><a href="/programmazione/registracategoria/{{ c.id }}/" class="button"><i class="fa fa-pencil"></i></a></li>
									<li><a href="#" class="button alert cestina" data-reveal-id="elimina" eid="{{ c.id }}"><i class="fa fa-trash"></i></a></li>
									</ul>
								</td>
							</tr>

							{% endfor %}
							</tbody>
							</table>
					</div>
				</div>


				<div id="elimina" class="reveal-modal" data-reveal>
				  <h2>Sicuro che vuoi eliminare questa categoria?</h2>
				  <p class="lead">Con questa azione eliminerai definitivamente la categoria.</p>
				  <a href="#" id="btnelimina" class="button "><i class="fa fa-trash"></i> Elimina</a>
				  <a class="close-reveal-modal">&#215;</a>
				</div>






			</div>
            <!-- end .timeline -->
        </div>
        <!-- box -->
    </div>
</div>
<!-- End of Container Begin -->
{% endblock %}


{% block extrahead %}
<link href="{% static 'css/dataTables.foundation.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}
