{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load require %}

{% block require %}{% require_module 'regcategoria' %}{% endblock %}


{% block content %}

<div class="row expanded">
    <div class="large-12 columns">
        <div class="dashboard-box sezione-opzioni" id="spedizioni">
            <div class="dashboard-box-content">
                <h2 class="titolo text-center">Registra nuova categoria</h2><br>
                <div class="row expanded">
                    <div class="large-12 columns">


						{% if form.non_field_errors %}
						    <div data-alert="" class="alert-box alert">
						        {% for non_field_error in form.non_field_errors %}
						             {{ non_field_error }}
						        {% endfor %}
						    </div>
						{% endif %}

						<form action="/pf/registracategoria/{% if id %}{{ id }}/{% endif %}" method="post" data-abide novalidate>
							{% csrf_token %}
							{% for hidden in form.hidden_fields %}
							    {{ hidden }}
							{% endfor %}



							<div class="row">
	                            <div class="large-3 columns">
	                                <label>{% trans "figlio di" %}
	                                    {{ form.parent }}
	                                </label>
	                                <small class="error">Inserisci la categoria di cui fa parte</small>
	                            </div>
	                            <div class="large-3 columns">
	                                <label>{% trans "Titolo" %}
	                                    {{ form.titolo }}
	                                </label>
	                                <small class="error">Inserisci titolo della categoria</small>
	                            </div>
							    <div class="large-12 columns">
							    	<label>{% trans "Descrizione" %}
							        	{{ form.descrizione }}
							      	</label>
							      	<small class="error">Inserisci descrizione della categoria'</small>
							    </div>


							</div>



							<div class="row">
								<div class="large-12 columns"><input  type="submit"  class="button right" value="Salva"/></div>
							</div>

						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
