{% extends "baseapp.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li><a href="/accounts/dashboard"><span class="entypo-home"></span></a></li>
  <li class="unavailable"><a href="#">Programmazione</a></li>
  <li><a href="/programmazione/listaschede/">Lista Schede</a></li>
  <li class="current">Registra Scheda</li>
</ul>
{% endblock %}


{% block content %}
<div class="row" style="margin-top:-20px">

    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <!-- tools box -->
                <div class="pull-right box-tools">

                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="icon-graph-pie"></i>
                    <span>Registra Mozione</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="display: block;">






				<div id="main" class="row">
					<div class="small-11 small-centered columns" >

					{% if form.non_field_errors %}
					    <div data-alert="" class="alert-box alert">
					        {% for non_field_error in form.non_field_errors %}
					             {{ non_field_error }}
					        {% endfor %}
					    </div>
					{% endif %}

					<form action="/programmazione/registramozione/{% if id %}{{ id }}/{% endif %}" method="post" data-abide>
						{% csrf_token %}
						{% for hidden in form.hidden_fields %}
						    {{ hidden }}
						{% endfor %}



						<div class="row">
						    <div class="large-12 columns">
						    	<label>{% trans "note" %}
						        	{{ form.oggetto }}
						      	</label>
						      	<small class="error">Inserisci oggetto della mozione'</small>
						    </div>
						    <div class="large-12 columns">
						    	<label>{% trans "note" %}
						        	{{ form.descrizione }}
						      	</label>
						      	<small class="error">Inserisci descrizione della mozione'</small>
						    </div>

						   
						</div>
						

						
						<div class="row">
							<div class="large-12 columns"><button  class="right" type="submit">Salva</button></div>
						</div>

					</form>
					</div>
				</div> <!-- #main -->





			</div>
            <!-- end .timeline -->
        </div>
        <!-- box -->
    </div>
</div>
<!-- End of Container Begin -->
{% endblock %}

{% block extraprescripts %}
<script>

$('#add_voce').click(function() {
        cloneMore('#formset tr:last', 'voce_set');
    });


function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}
</script>
{% endblock %}