@import "compass";

// Imposta il Main color, il colore principale
$main: #f7aa43;
//$main: #B02E2E;
$main-dark: shade($main, 20%);
$main-darker: shade($main, 40%);
$main-light: tint($main, 20%);
$main-lighter: tint($main, 40%);



.bg-main{
	background: $main;
	&:hover{background: shade($main, 10%);}
	&:active, &:focus{background-color: shade($main, 10%);}
}
.bg-main-dark{
	background: $main-dark;
	&:hover{background: shade($main-dark, 10%);}
	&:active, &:focus{background-color: shade($main-dark, 10%);}
}
.bg-main-darker{
	background: $main-darker;
	&:hover{background: shade($main-darker, 10%);}
	&:active, &:focus{background-color: shade($main-darker, 10%);}
}
.bg-main-light{
	background: $main-light;
	&:hover{background: shade($main-light, 10%);}
	&:active, &:focus{background-color: shade($main-light, 10%);}
}
.bg-main-lighter{
	background: $main-lighter;
	&:hover{background: shade($main-lighter, 10%);}
	&:active, &:focus{background-color: shade($main-lighter, 10%);}
}





$white:#fff;
$gray:#777;
$dark-gray:#1E1F29;
$light-gray:#CCCCCC;
$gray-blue: #EEF1F7;
$black: #38222A;
$black-solid: #000000;
$red: #F20505;
$yellow: #f39c12;
$aqua: #0ABAEF;
$blue:#5C9DF5;
$light-blue: #3c8dbc;
$dark-blue: #0F5593;
$green: #92CD18;
$light-green:#45B6B0;
$navy: #001f3f;
$teal: #B5AB8A;
$olive:#3d9970;
$lime: #01ff70;
$orange: #FF884D;
$red-orange: #e83922;
$fuchsia: #f012be;
$purple:#932ab6;
$maroon: #85144b;
$transparent: transparent;
$opacity: rgba(0, 0, 0, 0.5);
$opacity-one: rgba(0, 0, 0, 0.3);







.bg-light-green, .bg-dark-blue, .bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-red-orange, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black {
    color: #f9f9f9 !important;
	&.button{
		&:hover {
        	@include filter(brightness(0.9))
    	}
		&:active, &:focus{
			background-color: inherit;
		}
	}
}
.bg-white {
    background: $white !important;
}
.bg-gray {
    background: $gray !important;
}
.bg-dark-gray {
    background: $dark-gray !important;
}
.bg-light-gray {
    background: $light-gray !important;
}
.bg-gray-blue {
    background: $gray-blue !important;
}
.bg-black {
    background: $black !important;
}
.bg-black-solid {
    background: $black-solid !important;
}
.bg-red {
    background: $red !important;
}
.bg-yellow {
    background: $yellow !important;
}
.bg-aqua {
    background-color: $aqua !important;
}
.bg-blue {
    background-color: $blue !important
}
.bg-light-blue {
    background-color: $light-blue !important;
}
.bg-dark-blue {
    background-color: $dark-blue !important;
}
.bg-green {
    background-color: $green !important;
}
.bg-light-green {
    background-color: $light-green !important;
}
.bg-navy {
    background-color: $navy !important;
}
.bg-teal {
    background-color: $teal !important;
}
.bg-olive {
    background-color: $olive !important;
}
.bg-lime {
    background-color: $lime !important;
}
.bg-orange {
    background-color: $orange !important;
}
.bg-red-orange {
    background-color: $red-orange !important;
}
.bg-fuchsia {
    background-color: $fuchsia !important;
}
.bg-purple {
    background-color: $purple !important;
}
.bg-maroon {
    background-color: $maroon !important;
}
.bg-transparent {
    background: $transparent !important;
}
.bg-opacity {
    background: rgba(0, 0, 0, 0.5) !important;
}
.bg-opacity-one {
    background: rgba(0, 0, 0, 0.3) !important;
}
.bg-opacity-white {
    background: rgba(255, 255, 255, 0.5) !important;
}
.bg-opacity-white-btn {
    background: rgba(255, 255, 255, 0.2) !important;
}
.bg-opacity-white-btn:hover {
    background: rgba(255, 255, 255, 0.4) !important;
    color: white!important;
}
.border-gray {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)!important;
}
/*
Master Text Color
 */

.text-opacity {
    color: rgba(0, 0, 0, 0.5) !important;
}
.text-black {
    color: $black!important;
}
.text-red {
    color: $red !important;
}
.text-gray {
    color: $gray !important;
}
.text-dark-gray {
    color: $dark-gray !important;
}
.text-light-gray {
    color: $light-gray !important;
}
.text-amber {
    color: #ffffff!important;
}
.text-yellow {
    color: #f39c12 !important;
}
.text-aqua {
    color: #0ABAEF!important;
}
.text-blue {
    color: #5C9DF5 !important;
}
.text-dark-blue {
    color: #0F5593 !important;
}
.text-light-blue {
    color: #3c8dbc !important;
}
.text-green {
    color: #92CD18!important;
}
.text-navy {
    color: #B7C1D3 !important;
}
.text-teal {
    color: #39cccc !important;
}
.text-olive {
    color: #3d9970 !important;
}
.text-lime {
    color: #01ff70 !important;
}
.text-orange {
    color: #FF884D !important;
}
.text-fuchsia {
    color: #f012be !important;
}
.text-purple {
    color: #932ab6 !important;
}
.text-maroon {
    color: #85144b !important;
}
.text-white {
    color: #ffffff!important;
}
.border-green {
    border-color: #37A8AF!important;
}
.border-blue {
    border-color: #3E739D!important;
}
.border-aqua {
    border-color: #0090D9!important;
}
.text-opacity {
    color: rgba(255, 255, 255, 0.7)!important;
}
