{% load static %}
{% load i18n %}

<div class="clearfix"></div>
<div class="sottobarra2" id="sottobarra2"></div>

<div class="large-12 columns footer">

  <div class="row">
    
    <div class="large-4 medium-6 columns footer-section">
      <h3 class="titolo">Movimento Marcon</h3>
      
      <div class="icon-box">
        <div class="icon-wrap left text-center">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="testo">
          Stiamo lavorando per elaborare uno strumento di lavoro valido
        </div>
      </div>

      <div class="icon-box">
        <div class="icon-wrap left text-center">
          <i class="fa fa-phone"></i>
        </div>
        <div class="testo">
          <a href='tel:3478480124'>(+39) 347 8480124</a>
        </div>
      </div>


      <div class="icon-box">
        <div class="icon-wrap left text-center">
          <i class="fa fa-envelope-o"></i>
        </div>
        <div class="testo">
          carlom5s@fioretechnology.com
        </div>
      </div>

    </div>

    <div class="large-4 medium-6 columns border-footer footer-section">
     <h3 class="titolo">Menu</h3>
     <a href="/" class="footer-link">Home<br/>
     <a href="/" class="footer-link">--</a><br/>
     <a href="/" class="footer-link">--</a><br/>
     <a href="/" class="footer-link">--</a><br/>
     <a href="/" class="footer-link">--</a><br/>
    </div>

    <div class="large-4 medium-12 columns border-footer footer-section">
      <h3 class="titolo">Social</h3>
      <a href="https://www.facebook.com/groups/politicalfeedback/" class="footer-link" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
    </div>

 </div>
 <br />

</div>

<div class="clearfix"></div>
<div class="sottobarra" id="sottobarra3"></div>


<div class="large-12 columns text-right medium-only-text-center small-only-text-center under-footer">
  <div class="row">

    <div class="large-4 columns testo">
      Progetto sotto licenza GNU GPLv2
    </div>

    <div class="large-4 columns testo">

    </div>

    <div class="large-4 columns testo">
      powered by Fioretechnology <a href="http://www.fioretechnology.com" target="_blank"><img src="{% static 'img/fiore-web2.png' %}"></a>
    </div>

  </div>
</div>