{% load static %}

<!-- Right sidemenu -->
		        <div id="skin-select">
		            <!--      Toggle sidemenu icon button -->
		            <a id="toggle">
		                <span class="fa icon-menu"></span>
		            </a>
		            <!--      End of Toggle sidemenu icon button -->

		            <div class="skin-part">
		                <div id="tree-wrap">
		                    <!-- Profile -->
		                    <div class="profile">
		                        
		                        <h3>Marcon <small>v0.1</small></h3>

		                    </div>
		                    <!-- End of Profile -->

		                    <!-- Menu sidebar begin-->
		                    <div class="side-bar">
		                        <ul id="menu-showhide" class="topnav slicknav">
		                            <li>
		                                <a class="tooltip-tip" href="/" title="Home">
		                                  <i class="icon-monitor"></i>
		                                  <span>Home</span>
		                                </a>

		                            </li>

		                            <li>
		                                <a class="tooltip-tip" href="/accounts/dashboard" title="Dashboard">
		                                  <i class="icon-monitor"></i>
		                                  <span>Rassegna stampa</span>
		                                </a>

		                            </li>
		                            <li>
		                                <a class="tooltip-tip" href="/accounts/dashboard" title="Dashboard">
		                                  <i class="icon-monitor"></i>
		                                  <span>Gazebo informativo</span>
		                                </a>

		                            </li>
		                            <li>
		                                <a class="tooltip-tip" href="/accounts/dashboard" title="Dashboard">
		                                  <i class="icon-monitor"></i>
		                                  <span>Forum</span>
		                                </a>

		                            </li>


		                            <li>
		                              <a class="tooltip-tip" href="#">
		                                <i class=" icon-window"></i>
		                                <span>LAV. GRUPPO CONSILIARE</span>
		                              </a>
		                              <ul>

		                                
		                                <li><a href="#"><i class="fa fa-list"></i> Presentate</a>
		                                  <ul> 
		                                    <li><a href="/pf/listamozioni"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/pf/registramozione"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                <li><a href="#"><i class="fa fa-list"></i> Approvate</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listafornitori"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registrafornitore"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                <li><a href="#"><i class="fa fa-list"></i> In sviluppo</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listamezzi"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registramezzo"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                
		                                </ul>
		                            </li>
		                            <li>
		                              <a class="tooltip-tip" href="#">
		                                <i class=" icon-window"></i>
		                                <span>INTERPELLANZE</span>
		                              </a>
		                              <ul>

		                                
		                                <li><a href="#"><i class="fa fa-list"></i> Presentate</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listacondomini"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registracondominio"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                <li><a href="#"><i class="fa fa-list"></i> Approvate</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listafornitori"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registrafornitore"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                <li><a href="#"><i class="fa fa-list"></i> In sviluppo</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listamezzi"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registramezzo"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                
		                                </ul>
		                            </li>
		                            <li>
		                                <a class="tooltip-tip" href="/accounts/dashboard" title="Dashboard">
		                                  <i class="icon-monitor"></i>
		                                  <span>Commissioni</span>
		                                </a>

		                            </li>
		                            <li>
		                              <a class="tooltip-tip" href="#">
		                                <i class=" icon-window"></i>
		                                <span>CONSIGLI COMUNALI</span>
		                              </a>
		                              <ul>

		                                
		                                <li><a href="#"><i class="fa fa-list"></i> Il prossimo</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listacondomini"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registracondominio"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                <li><a href="#"><i class="fa fa-list"></i> Precedenti</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listafornitori"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registrafornitore"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                <li><a href="#"><i class="fa fa-list"></i> In sviluppo</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listamezzi"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registramezzo"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>

		                                
		                                </ul>
		                            </li>
		                            <li>
		                              <a class="tooltip-tip" href="#">
		                                <i class=" icon-window"></i>
		                                <span>ALTRE AZIONI</span>
		                              </a>
		                              <ul>

		                                
		                                <li><a href="#"><i class="fa fa-list"></i> Elenco</a>
		                                  <ul> 
		                                    <li><a href="/anagrafiche/listacondomini"><i class="fa fa-list"></i> Lista</a></li>
		                                    <li><a href="/anagrafiche/registracondominio"><i class="fa fa-plus-square-o"></i> Aggiungi</a></li>
		                                  </ul>
		                                </li>
		                                
		                                </ul>
		                            </li>

		                            
		                        </ul>
		                    </div>
		                    <!-- end of Menu sidebar  -->












		                    <ul class="bottom-list-menu">
		                        <li>Impostazioni <span class="icon-gear"></span>
		                        </li>
		                        <li>Supporto <span class="icon-phone"></span>
		                        </li>
		                        <li>Manuale <span class="icon-phone"></span>
		                        </li>
		                        </li>

		                    </ul>
		                </div>
		            </div>
		        </div>
		        <!-- end of Rightsidemenu -->