{% load i18n %}
{% load compress %}
{% load static %}

<div class="fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">PulizieFacile.com</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a href="#"><i class="fa fa-users"></i> Anagrafiche</a>
        <ul class="dropdown">
          <li><label>Elenchi</label></li>
          <li class="has-dropdown"><a href="#">Clienti</a>
          <ul class="dropdown"> 
            <li><a href="/anagrafiche/listaclienti"><i class="fa fa-list"></i> Lista</a></li>
            <li><a href="/anagrafiche/registracliente"><i class="fa fa-plus-square-o"></i> Aggiungi cliente</a></li>
          </ul>
          </li>
          <li class="has-dropdown"><a href="#">Amministratori</a>
          <ul class="dropdown"> 
            <li><a href="/anagrafiche/listaamministratori"><i class="fa fa-list"></i> Lista</a></li>
            <li><a href="/anagrafiche/registraamministratore"><i class="fa fa-plus-square-o"></i> Aggiungi amministratore</a></li>
          </ul>
          </li>
          <li class="has-dropdown"><a href="#">Condomini</a>
          <ul class="dropdown"> 
            <li><a href="/anagrafiche/listacondomini"><i class="fa fa-list"></i> Lista</a></li>
            <li><a href="/anagrafiche/registracondominio"><i class="fa fa-plus-square-o"></i> Aggiungi condominio</a></li>
          </ul>
          </li>
           <li class="has-dropdown"><a href="#">Fornitori</a>
          <ul class="dropdown"> 
            <li><a href="/anagrafiche/listafornitori"><i class="fa fa-list"></i> Lista</a></li>
            <li><a href="/anagrafiche/registrafornitore"><i class="fa fa-plus-square-o"></i> Aggiungi fornitore</a></li>
          </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Mezzi</a>
          <ul class="dropdown"> 
            <li><a href="/anagrafiche/listamezzi"><i class="fa fa-list"></i> Lista</a></li>
            <li><a href="/anagrafiche/registramezzo"><i class="fa fa-plus-square-o"></i> Aggiungi mezzo</a></li>
          </ul>
          </li>
          <li class="has-dropdown"><a href="#">Personale</a>
          <ul class="dropdown"> 
            <li><a href="/anagrafiche/listapersonale"><i class="fa fa-list"></i> Lista</a></li>
            <li><a href="/anagrafiche/registrapersonale"><i class="fa fa-plus-square-o"></i> Aggiungi personale</a></li>
          </ul>
          </li>
          <li><a href="/anagrafiche/listacontatti/"><i class="fa fa-mobile"></i> Comunicazioni</a></li>
          <li class="divider"></li>
          <li><a href="/anagrafiche/aggiungicitta/">Aggiungi città per le anagrafiche</a>
        </ul>
      </li>



      <li class="has-dropdown">
        <a href="#"><i class="fa fa-calendar"></i> Programmazione</a>
        <ul class="dropdown">
          <li><a href="/programmazione/servizi"><i class="fa fa-clock-o"></i> I servizi di oggi</a></li>
          <li class="has-dropdown"><a href="#">Schede</a>
          <ul class="dropdown">
            <li><a href="/programmazione/listaschede"><i class="fa fa-list"></i> Lista schede</a></li>
            <li><a href="/programmazione/registrascheda">Nuova scheda condominio</a></li>
          </ul>
          </li>
          <li class="has-dropdown"><a href="#">Interventi</a>
          <ul class="dropdown">
            <li><a href="/fatture/listainterventi">Programmazione interventi</a></li>
            <li><a href="/fatture/registraintervento"><i class="fa fa-plus-square-o"></i> Nuovo intervento</a></li>
          </ul>
          </li>
          <li class="has-dropdown"><a href="#">Turni</a>
          <ul class="dropdown">
            <li><a href="/anagrafiche/listaturni/">Lista Turni</a></li>
            <li><a href="/anagrafiche/registraturno/"><i class="fa fa-plus-square-o"></i> Nuovo turno</a></a></li>
          </ul>
          </li>
          <li><a href="/programmazione/caricaprogrammazione">Carica programmazione</a></li>
        </ul>
      </li>



      <li class="has-dropdown">
        <a href="#"><i class="fa fa-file-text-o"></i> Contabilità</a>
        <ul class="dropdown">

          <li class="has-dropdown"><a href="#"><i class="fa fa-files-o"></i> Fatture</a>
          <ul class="dropdown">
            <li><a href="/fatture/listafatture"><i class="fa fa-list"></i> Lista fatture</a></li>
            <li><a href="/fatture/registra"><i class="fa fa-plus-square-o"></i> Nuova fattura</a></li>
            <li><a href="/fatture/registrana/1/"><i class="fa fa-plus-square-o"></i> Nuova nota di accredito</a></li>
          </ul>
          </li>

          <li class="has-dropdown"><a href="{%if not request.user.profilo.ddt %}/accounts/attivazione/{% else %}#{% endif %}"><i class="fa fa-truck"></i>{% if DDT_trial %}<span class="pagato" > DDT</span> (prova){%elif not request.user.profilo.ddt %}<span class="insoluto" > DDT</span> (attiva){% else %} DDT{% endif %}</a>
          <ul class="dropdown">
            {% if DDT_trial %}<li><a href="/accounts/attivazione/"><i class="fa fa-thumbs-o-up"></i> Versione di prova</a></li>{% endif %}
            <li><a href="{% if DDT_trial %}/fatture/listaddt/{%elif not request.user.profilo.ddt %}/accounts/attivazione/{% else %}/fatture/listaddt/{% endif %}"><i class="fa fa-list"></i> {% if DDT_trial %} <span class="pagato"> Lista DDT</span> (prova){%elif not request.user.profilo.ddt %} <span class="insoluto"> Lista DDT</span> (attiva){% else %} Lista DDT{% endif %}</a></li>
            <li><a href="{% if DDT_trial %}/fatture/registraddt/{%elif not request.user.profilo.ddt %}/accounts/attivazione/{% else %}/fatture/registraddt/{% endif %}"><i class="fa fa-plus-square-o"></i> {% if DDT_trial %} <span class="pagato"> Nuovo DDT</span> (prova){%elif not request.user.profilo.ddt %} <span class="insoluto"> Nuovo DDT</span> (attiva){% else %} Nuovo DDT{% endif %}</a></li>
          </ul>
          </li>

          <li class="has-dropdown"><a href="{%if not request.user.profilo.acq %}/accounts/attivazione/{% else %}#{% endif %}"><i class="fa fa-truck"></i>{% if ACQ_trial %}<span class="pagato" > Acquisti</span> (prova){%elif not request.user.profilo.acq %}<span class="insoluto" > Acquisti</span> (attiva){% else %} Acquisti{% endif %}</a>
          <ul class="dropdown">
            {% if ACQ_trial %}<li><a href="/accounts/attivazione/"><i class="fa fa-thumbs-o-up"></i> Versione di prova</a></li>{% endif %}
            <li><a href="{% if ACQ_trial %}/fatture/listaacquisti/{%elif not request.user.profilo.acq %}/accounts/attivazione/{% else %}/fatture/listaacquisti/{% endif %}"><i class="fa fa-list"></i> {% if ACQ_trial %} <span class="pagato"> Lista Acquisti</span> (prova){%elif not request.user.profilo.acq %} <span class="insoluto"> Lista Acquisti</span> (attiva){% else %} Lista Acquisti{% endif %}</a></li>
            <li><a href="{% if ACQ_trial %}/fatture/registraacquisto/{%elif not request.user.profilo.acq %}/accounts/attivazione/{% else %}/fatture/registraacquisto/{% endif %}"><i class="fa fa-plus-square-o"></i> {% if ACQ_trial %} <span class="pagato"> Nuovo Acquisto</span> (prova){%elif not request.user.profilo.acq %} <span class="insoluto"> Nuovo Acquisto</span> (attiva){% else %} Nuovo Acquisto{% endif %}</a></li>
          </ul>
          </li>

          <li><a href="/fatture/amministratori"><i class="fa fa-list"></i> Lista amministratori</a></li>
          <li><a href="/fatture/clienti"><i class="fa fa-list"></i> Lista clienti</a></li>
        </ul>
      </li>



      <li class="has-dropdown">
        <a href="#"><i class="fa fa-eur"></i> Pagamenti</a>
        <ul class="dropdown">
          <li><a href="/fatture/nonpagate/">Fatture non pagate</a></li>
          <li><a href="/fatture/scadute/">Fatture scadute</a></li>
          <li><a href="/fatture/pagateannocorrente/">Fatture pagate nell'anno corrente</a></li>
          <li class="has-dropdown"><a href="#">Gestione</a>
          <ul class="dropdown">
            <li><a href="/fatture/situazionepagamenti/"><i class="fa fa-indent"></i> Situazione Clienti/Amministratori</a></li>
            <li><a href="#"><i class="fa fa-pie-chart"></i> Statistiche</a></li>
          </ul>
          </li>
          <li class="has-dropdown"><a href="#"><i class="fa fa-credit-card"></i> Movimenti bancari</a>
          <ul class="dropdown">
            <li><a href="/fatture/bonifici/">Bonifici</a></li>
            <li class="has-dropdown"><a href="#">Carica movimenti da file</a>
              <ul class="dropdown">
                <li><a href="/fatture/carica/intesa"><i class="fa fa-credit-card"></i> Intesa San Paolo</a></li>
              </ul>
            </li>
          </ul>
          </li>
          <li><a href="#"><i class="fa fa-cogs"></i> Opzioni</a></li>
        </ul>
      </li>



      <li class="has-dropdown">
        <a href="#"><i class="fa fa-print"></i> Stampe</a>
        <ul class="dropdown">
          <li class="has-dropdown"><a href="#"><i class="fa fa-files-o"></i> Fatture</a>
          <ul class="dropdown">
            <li><a href="/fatture/stampadata/">Data precisa</a></li>
            <li><a href="/fatture/stampatrimestre/1/">Stampa fatture del primo trimestre</a></li>
            <li><a href="/fatture/stampatrimestre/2/">Stampa fatture del secondo trimestre</a></li>
            <li><a href="/fatture/stampatrimestre/3/">Stampa fatture del terzo trimestre</a></li>
            <li><a href="/fatture/stampatrimestre/4/">Stampa fatture del quarto trimestre</a></li>
          </ul>
          </li>
          <li class="has-dropdown"><a href="#">Riepiloghi</a>
          <ul class="dropdown">
            <li><a href="/fatture/pagateannocorrentepdf/">Fatture pagate nell'anno corrente</a></li>
            <li><a href="#">In sviluppo....</a></li>
          </ul>
          </li>
        </ul>
      </li>



      {% include "_/top-user.html" %}



      <li class="has-dropdown">
        <a href="#"><i class="fa fa-2x fa-comments"></i></a>
        <ul class="dropdown">
          <li><a href="/accounts/registrasegnalazione/"><i class="fa fa-question-circle"></i> Segnala allo staff</a></li>
          <li><a href="/accounts/listasegnalazioni/"><i class="fa fa-list"></i> Le Tue segnalazioni</a></li>
          <li><a href="https://www.facebook.com/groups/1400269250275615/" target="_blank"><i class="fa fa-facebook-square"></i> Gruppo Facebook</a></li>
          <li><a href="/accounts/attivazione/"><i class="fa fa-cc-paypal"></i> Servizi a pagamento</a></li>
          

        </ul>
      </li>
      <li class="has-dropdown active">
        <a href="#"><strong>{{ request.user.profilo.anno_corrente }}</strong></a>
        <ul class="dropdown">
          <li><a href="/accounts/cambiaanno/{{ request.user.profilo.anno_corrente|add:-1 }}/"><strong>{{ request.user.profilo.anno_corrente|add:-1 }}</strong></a></li>
          <li><a href="/accounts/cambiaanno/{{ request.user.profilo.anno_corrente|add:1 }}/"><strong>{{ request.user.profilo.anno_corrente|add:1 }}</strong></a></li>
        </ul>
      </li>

    </ul>
    

  </section>

</nav>
</div>


