{% load i18n %}
{% load compress %}
{% load static %}


<div class="row text-center">
  <h1><a href="/" >PoliticalFeedback</a></h1>
  <div id="spot">Solo uno strumento, non una gerarchia!</div>
</div>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><strong>Home</strong></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <li class="has-dropdown">
        <a href="">Account</a>
        <ul class="dropdown">
          {% if user.is_authenticated %}
            <li>
              <a href="/accounts/dashboard">
                <i class="fa fa-user"></i> {{ user.first_name }}
              </a>
            </li>
            <li>
              <a href="/accounts/logout">
                <i class="fa fa-sign-out"></i> {% trans "Esci" %}
              </a>
            </li>
          {% else %}
            <li>
              <a href="/accounts/accedi">
                <i class="fa fa-sign-in"></i> {% trans "Accedi" %}
              </a>
            </li>
            <li>
              <a href="/accounts/registra">
                <i class="fa fa-pencil"></i> {% trans "Registrati" %}
              </a>
            </li>
          {% endif %}

        </ul>
      </li>

      <li><a href="#">Contatti</a></li>


      <li class="has-dropdown">
        <a href="#">Gruppi</a>
        <ul class="dropdown">
          <li><a href="#">Registrati</a></li>
          <li><a href="#">Fatti conoscere</a></li>
          <li><a href="#">Supporto</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a href="#">Il software</a>
        <ul class="dropdown">
          <li><a href="#">Perchè noi?</a></li>
          <li><a href="#">Documentazione</a></li>
          <li><a href="#">Supporto</a></li>
          <li><a href="#">Domande frequenti</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
