{% extends "app_pcbuild.html" %}
{% load static %}
{% load widget_tweaks %}




{% block page_title %}Inviata{% endblock page_title %}




{% block content %}
<div class="row" style="margin-top:-20px">
	<div class="large-12 columns">
		<div class="box bg-white ">
			<!-- /.box-header -->
			<div class="box-header bg-transparent">
				<span class="box-title"></span>
			</div>

			<div class="box-body text-center">
				
				<div class="row">
					<div class="large-12 columns text-center">
						<h1 class="titolo no-margin"><i class="fa fa-envelope-o"></i></h1>
						<h2 class="titolo">Build inviata!</h2>
						<br>
					</div>
					<div class="large-12 columns text-center">
						<p>
							La mail con i componenti della build è stata inviata con successo.
						</p>
					</div>
					<div class="large-12 columns text-center">
						<a class="button bg-green" href="/pcbuild">Torna alla Home</a>
					</div>
				</div>

			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
{% endblock content %}



<!--
{% block postscripts %}
<script>
	$('#invia').on('click', function() {
		$('#contatti').submit();
	});
</script>
{% endblock postscripts %}
-->


