{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load imagekit %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li><a href="/accounts/dashboard"><span class="entypo-home"></span></a></li>
  <li class="current"><a href="#">Dashboard</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="row expanded">
    <div class="large-12 columns">
        <div class="dashboard-box sezione-opzioni" id="spedizioni">
            <div class="dashboard-box-content">
                <h1 class="lobster text-center">Pannello</h1><br>
                <div class="row expanded">
                    <div class="large-12 columns">


					<a href="/pf/registradocumento/" class="button"><i class="icon-document-new "></i> inserisci documento</a>
					<a href="/pf/listadocumenti/" class="button"><i class="icon-list "></i> lista documenti</a>

					<a href="/pf/registracategoria/" class="button"><i class="icon-document-new "></i> inserisci categoria</a>
					<a href="/pf/listacategorie/" class="button"><i class="icon-list "></i> lista categorie</a>

				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}
