{% extends "base.html" %}
{% load i18n %}

{% block testata %}
	{% include "_/testata_sito.html" %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="large-12 columns text-center">
		<br>
		<h2 class="categoria-titolo">Reset Password</h2>
		<br>
	</div>
</div>

<div class="bg-white fascia-spazi">
	<div class="row">
		<div class="large-12 columns text-center">
			<h4 class="titolo-secondario-1">A breve riceverai una e-mail all'indirizzo digitato,<br>contenente i dati richiesti per il reset della tua password.</h4>
			<br>
			<a href="/" class="button bg-dark-blue radius" title="Home"><strong>Torna alla Home</strong></a>
		</div>
	</div>
</div>


{% endblock %}