{% extends "base_pre_app.html" %}
{% load i18n %}
{% load require %}
{% load staticfiles %}

{% block require %}{% require_module 'accounts_login' %}{% endblock %}

{% block page_title %}Login{% endblock %}


{% block content %}
<div class="large-4 medium-8 small-centered text-center columns">


{% block alert %}{% endblock %}

<form  method="post" action="/accounts/accedi/" class="" data-abide novalidate>
	{% csrf_token %}

	{{ form.errors }}



	<div class="row text-center login-box">

		{% if errore %}
		<div class="bg-red-orange callout text-white" data-closable>
		  <h5><strong>Errore</strong></h5>
		  <p class="text-white">Email o Password non corretta. Riprova.</p>
		  <button class="close-button text-white" aria-label="Dismiss alert" type="button" data-close>
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		{% endif %}

		<div class="large-12 small-12 columns">
			<br>
			<h1 class="text-center login-title"><b>Login</b></h1>
			<br>
		</div>
		<div class="large-12 small-12 columns">
			<div class="input-group">
			  <span class="input-group-label"><span class="icon icon-user fa-lg"></span></span>
			  {{ form.username }}
			</div>
		</div>
		<div class="large-12 small-12 columns">
			<div class="input-group">
			  <span class="input-group-label"><span class="icon icon-lock fa-lg"></span></span>
			  {{ form.password }}
			</div>
			<br>
		</div>
		<div class="small-6 columns no-pad">
			<a class="button expanded large bg-main no-margin" href="/accounts/registra/"><strong>Registrati</strong></a>
		</div>
		<div class="small-6 columns no-pad">
			<button class="button expanded large bg-main-dark no-margin" type="submit"><strong>Accedi</strong></button>
		</div>
	</div>
</form>

<div class="text-center">
	<br>
	<a href="#" class="password-dimenticata" data-open="dimenticata"><u>Password dimenticata?</u></a>
</div>










<!-- PASSWORD DIMENTICATA -->
<div class="reveal text-center text-black no-pad" style="border:0;" id="dimenticata" data-reveal>
	<div class="row">
		<div class="large-12 columns">
		  	<h4><br>
				<i class="fa fa-lg fa-unlock-alt"></i><br>
			  	<b>Reimposta Password</b>
		  	</h4>
		  	<p class="lead">Inserisci l'indirizzo e-mail con cui ti sei registrato<br>e riceverai le istruzioni per reimpostare la password.</p>
		  	<br>
		  	<form role="form" action="/accounts/recuperapassword/" method="post" data-abide novalidate>
				{% csrf_token %}
			  	<div class="row">
				  	<div class="large-12 small-centered columns">
					  	<label>
						  	<input name="email" id="email_reset" type="email" placeholder="E-mail" aria-describedby="emailHelp" required />
					  	</label>
				  	</div>
			  	</div>
			  	<br>
			  	<div class="row">
				  	<div class="large-12 text-center columns no-pad">
					  	<button  class="button bg-dark-blue radius expanded no-margin" type="submit"><strong>Chiedi il ripristino</strong> &nbsp;<i class="fa fa-arrow-right"></i></button>
				  	</div>
			  	</div>
		  	</form>
		</div>
	</div>

	<button class="close-button" data-close aria-label="Close modal" type="button">
    	<span aria-hidden="true">&times;</span>
  	</button>
</div>




<!-- Reinvia attivazione -->
<div id="attivazione" class="reveal-modal" data-reveal>
	<h4>{% trans "Reinviamo il codice di attivazione" %}</h4>
	<p class="grigioscuro">{% trans "Inserisci l'indirizzo e-mail con cui ti sei registrato e ti invieremo le istruzioni per attivare il Tuo account." %}</p>
	<hr>

	<form role="form" action="/accounts/rimandaattivazione/" method="post" data-abide>
		{% csrf_token %}
		<div class="row">
			<div class="large-10 columns">
				<label>{% trans "Email" %} <small>richiesto</small>
					<input name="email" id="email_reset" type="email" placeholder="{% trans "email" %}" aria-describedby="emailHelp" required/>
				</label>
				<small class="error">{% trans "Inserisci una email valida." %}</small>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<button  class="right" type="submit"><strong>{% trans "Reinvia" %}</strong> &nbsp;<i class="fa fa-arrow-right"></i></button>
			</div>
		</div>

		<a class="close-reveal-modal">&#215;</a>
	</form>
</div>


</div>

{% endblock %}
