{% extends "base.html" %}
{% load i18n %}

{% block testata %}
	{% include "_/testata_sito.html" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="small-12 columns panel" >
		<h2>Attivazione account</h2>
		<p>Il Tuo account è presente nel sistema ma non è stato ancora confermato. Inserisci di seguito la tua mail e procedi con l'invio.</p>
		<p>Riceverai una mail contenente il link da cliccare per procedere all'attivazione del tuo accesso.</p>
		<form role="form" action="/accounts/rimandaattivazione/" method="post" data-abide>
		{% csrf_token %}
			<div class="row">
			    <div class="large-10 columns">
			    	<label>Email <small>richiesto</small>
			        	{{ form.email }}
			      	</label>
			      	<small class="error">Inserisci una email valida.</small>
			    </div>
			</div>

			<div class="row">
				<div class="large-12 columns">
				<button  class="right" type="submit"><strong>Reinvia la mail per confermare l'account</strong> &nbsp;<i class="fa fa-arrow-right"></i></button>
				</div>
			</div>

		</form>
	</div>
</div>
{% endblock %}