{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load require %}
{% load imagekit %}

{% block require %}{% require_module 'accounts_profilo' %}{% endblock %}


{% block content %}
<div class="row expanded">
	<div class="large-3 small-12 columns">
		<div class="dashboard-box">
			<div class="dashboard-box-opzioni">

				{{ formutente.errors }}

				<button  class="button bg-main expanded no-margin salva" type="submit" form=""><strong>Salva</strong></button>

				<button type="button" class="button bg-main-light expanded no-margin" data-open="cambiaPsw">
					<strong>Cambia password</strong>
				</button>

				<div class="title-bar bg-dark-gray" data-responsive-toggle="opzioni" data-hide-for="large">
					<button class="" type="button" data-toggle><i class="fa fa-circle-o fa-fw icona-menu"></i>
					<div class="title-bar-title">Opzioni</div>
					</button>
				</div>
				<div class="no-pad" id="opzioni">
					<ul class="vertical menu" data-accordion-menu>
						<li class="li-accordion-item-1"><a href="javascript:;" data-id="datipersonali" class="accordion-item opzione"><i class="fa fa-user fa-fw icona-menu"></i> Dati Personali</a></li>
						<li class="li-accordion-item-1"><a href="javascript:;" data-id="spedizioni" class="accordion-item opzione"><i class="fa fa-truck fa-fw icona-menu"></i> Spedizioni</a></li>
						<li class="li-accordion-item-1"><a href="javascript:;" data-it="pagamento" class="accordion-item opzione"><i class="fa fa-credit-card fa-fw icona-menu"></i> Metodi pagamento</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="large-9 small-12 columns">

		{% if mod %}

		<div class="success callout" style="margin-top:20px;" data-closable>
			<h5>Dati modificati con successo</h5>
			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endif %}

		<form action="/accounts/profile/" id="form_datipersonali" method="post" enctype="multipart/form-data" data-abide>
			{% csrf_token %}

			<div class="dashboard-box sezione-opzioni" id="datipersonali">
				<div class="dashboard-title">
					<h3>Dati Personali</h3>
				</div>
				<div class="dashboard-box-content">

					<div class="row expanded">

						<div class="medium-4 large-centered columns">
	          				{% if not request.user.profilo.userpic %}
	          					<div><i>Manca l'immagine di profilo</i></div>
	          				{% else %}
								{% generateimage 'accounts:thumbnail300' source=request.user.profilo.userpic as im %}
	          					<div><img width="100%" src="{{ im.url }}" /></div>
	          				{% endif %}
	          				{{ formutente.userpic }}
	          				<label class="button expanded small bg-main" for="id_userpic"><b><i class="fa fa-upload fa-lg fa-fw pull-left"></i>Modifica</b></label>
							<br>
	          			</div>
						<div class="large-12 medium-8 columns">
							<div class="large-12 columns">
								<b>E-Mail:</b>&nbsp; {{ request.user.email }}
								<br><br>
							</div>
							<div class="xlarge-6 large-12 medium-12 columns">
								<label>Nome <small>richiesto</small>
									{{ formutente.first_name }}
								</label>
							</div>
							<div class="xlarge-6 large-12 medium-12 columns">
								<label>Cognome <small>richiesto</small>
									{{ formutente.last_name }}
								</label>
							</div>
						</div>

					</div>
				</div>
			</div>

		</form>

		<form action="/accounts/profile/" id="form_spedizioni" method="post" enctype="multipart/form-data" data-abide>
			{% csrf_token %}
			<div class="dashboard-box sezione-opzioni" id="spedizioni">
				<div class="dashboard-title">
					<h3>Spedizioni</h3>
				</div>
				<div class="dashboard-box-content">

					<div class="row">
						<div class="columns">
							<table id="datatable" class="display responsive nowrap row-border" width="100%">
								<thead>
						            <tr>
						                <th>Colonna 1</th>
						                <th>Colonna 2</th>
						                <th>Colonna 3</th>
						            </tr>
						        </thead>
								<tbody>
						            <tr>
						                <td>Colonna 1</td>
										<td>Colonna 1</td>
										<td>Colonna 1</td>
						            </tr>
									<tr>
						                <td>Colonna 1</td>
										<td>Colonna 1</td>
										<td>Colonna 1</td>
						            </tr>
									<tr>
						                <td>Colonna 1</td>
										<td>Colonna 1</td>
										<td>Colonna 1</td>
						            </tr>
									<tr>
						                <td>Colonna 1</td>
										<td>Colonna 1</td>
										<td>Colonna 1</td>
						            </tr>


						        </tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</form>

	</div>
</div>


<!-- CAMBIA PASSWORD -->
<div class="reveal text-center text-black no-pad" style="border:0;" id="cambiaPsw" data-reveal>
	<div class="row">
		<div class="large-12 columns">
			<h4><br>
				<i class="fa fa-lg fa-unlock-alt"></i><br>
				<b>Cambia Password</b>
			</h4>
			<p class="lead">Inserisci due volte la nuova password<br>che desideri utilizzare.</p>
			<br>
			<form role="form" action="/accounts/cambiapassword/" method="post" data-abide novalidate>
				{% csrf_token %}
				<div class="row">
					<div class="large-12 small-centered columns">
						<label>Password (almeno 6 caratteri)
							{{ formpwd.password }}
						</label>
					</div>
					<div class="large-12 small-centered columns">
						<label>Conferma Password
							{{ formpwd.confermapassword }}
						</label>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="large-12 text-center columns no-pad">
						<button  class="button bg-main-light radius expanded no-margin" type="submit"><strong>Invia</strong> &nbsp;<i class="fa fa-arrow-right"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

{% endblock %}


{% block postscripts %}
<script src="{% static 'datatables/datatables.js' %}"></script>
<script src="{% static 'datatables/Responsive-2.0.2/js/dataTables.responsive.js' %}"></script>

<script>
$(".sezione-opzioni").hide();
$(".opzione").click(function(){
	var $a = $(this);
	$(".sezione-opzioni").hide();
	$(".salva").attr("form", "form_" + $a.data("id"));
	$("div #" + $a.data("id")).toggle();
});

$(document).ready(function() {
	$('#datatable').DataTable( {
        "dom": '<lf<t>ip>',

		responsive: true,
		stateSave: true,
		"aLengthMenu": [[10, 25, 50, -1], ["Mostra 10", "Mostra 25", "Mostra 50", "Mostra Tutti"]],
		"language": {
            "sLengthMenu": "_MENU_",
            "zeroRecords": "Nessun risultato trovato",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
			search: "_INPUT_",
        	searchPlaceholder: "Cerca",
            "infoEmpty": "Nessun dato disponibile",
            "infoFiltered": "(filtrato da _MAX_ dati totali)",
			"paginate": {
		      "previous": "Precedente",
			  "next": "Successiva"
		  }
        }
    } );
} );
</script>
{% endblock %}
