{% extends "base_pre_app.html" %}
{% load i18n %}
{% load require %}
{% load staticfiles %}

{% block require %}{% require_module 'accounts_registra' %}{% endblock %}

{% block page_title %}Registrati{% endblock %}


{% block content %}
<div class="large-8 medium-8 small-centered text-center columns">


<form action="/accounts/registra/" method="post" class="" enctype="multipart/form-data" data-abide novalidate>
	{% csrf_token %}

	{{ form.errors }}

	{% if form.non_field_errors %}
	<div class="bg-red-orange callout" data-closable>
	  <h5><strong>Errore</strong></h5>
	  <p>{{ form.non_field_errors }}</p>
	  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	{% endif %}

	<div class="row login-box">

		<div class="small-12 small-centered columns">
			<br>
			<h1 class="text-center login-title"><b>Registrati</b></h1>
			<br>
		</div>
		<div class="large-6 small-12 columns">
			<label>
				{{ form.first_name }}
			</label>
		</div>
		<div class="large-6 small-12 columns">
			<label>
				{{ form.last_name }}
			</label>
		</div>
		<div class="small-12 columns">
			{{ form.avatar }}
			<label class="button small bg-main" for="id_avatar"><b>Scegli immagine di profilo</b></label>
		</div>
		<div class="small-12 columns password-field">
			<label>
				<div class="input-group">
			  		<span class="input-group-label"><span class="icon icon-mail fa-lg"></span></span>
			  		{{ form.email }}
				</div>
			</label>
		</div>

		<div class="large-6 small-12 columns password-field">
			<label>
				<div class="input-group">
			  		<span class="input-group-label"><span class="icon icon-lock fa-lg"></span></span>
			  		{{ form.password }}
				</div>
			</label>
		</div>
		<div class="large-6 small-12 columns password-confirmation-field">
			<label>
				<div class="input-group">
			  		<span class="input-group-label"><span class="icon icon-lock fa-lg"></span></span>
			  		<input type="password" required data-equalto="id_password" placeholder="Conferma Password" class="input-group-field">
				</div>
			</label>
		</div>

		<div class="small-12 columns">
			<label>
				<div class="input-group">
			  		<span class="input-group-label"><span class="icon icon-phone fa-lg"></span></span>
			  		{{ form.telefono }}
				</div>
			</label>
		</div>

		<div class="large-6 small-12 columns">
			<label>
				<div class="input-group">
			  		<span class="input-group-label"><span class="icon icon-location fa-lg"></span></span>
			  		{{ form.indirizzo }}
				</div>
			</label>
		</div>
		<div class="large-6 small-12 columns">
			<label>
				<div class="input-group">
			  		<span class="input-group-label"><span class="icon icon-location fa-lg"></span></span>
			  		{{ form.civico }}
				</div>
			</label>
		</div>

		<div class="large-4 small-12 columns">
			<label>
				<div class="input-group">
			  		<span class="input-group-label"><span class="icon icon-map fa-lg"></span></span>
			  		{{ form.provincia }}
				</div>
			</label>
		</div>

		<div class="large-4 small-12 columns row_citta hide">
			<label>
				<div class="input-group  ">
			  		<span class="input-group-label"><span class="icon icon-map fa-lg"></span></span>
			  		{{ form.citta }}
				</div>
			</label>
		</div>

		<div class="large-4 small-12 columns">
			<label>
				<div class="input-group">
			  		<span class="input-group-label"><span class="icon icon-map fa-lg"></span></span>
			  		{{ form.cap }}
				</div>
			</label>
		</div>

		<div class="small-6 columns no-pad">
			<a class="button expanded large bg-main no-margin" href="/accounts/accedi/"><strong>Accedi</strong></a>
		</div>
		<div class="small-6 columns no-pad">
			<button class="button expanded large bg-main-dark after-icon no-margin"type="submit"><strong>Crea <i class="fa-fw icon icon-arrow-thin-right"></i></strong></button>
		</div>
	</div>
</form>

<br>

<div class="row login-box">
	<div class="small-12 columns">
		<br>
		<h4 class="login-title"><b>Già registrato?</b></h4>
	</div>
	<div class="small-12 small-centered columns text-center">
		<p class="text-center">Se ti sei già registrato e non hai ricevuto la mail di attivazione, clicca sul bottone sottostante per reinviarla</p>
	</div>
	<div class="small-12 columns no-pad">
		<a href="#" class="button bg-light-green expanded no-margin" data-open="attivazione"><strong>Reinvia attivazione</strong></a>
	</div>
</div>





<!-- Reinvia attivazione -->
<div class="reveal text-center text-black no-pad" style="border:0;" id="attivazione" data-reveal>
	<div class="row">
		<div class="large-12 columns">
		  	<h4><br>
				<i class="icon fa-lg icon-mail"></i><br>
			  	<b>Reinvia attivazione</b>
		  	</h4>
		  	<p class="lead">Inserisci l'indirizzo e-mail con cui ti sei registrato <br>per ricevere le istruzioni di attivazione.</p>
		  	<br>
		  	<form role="form" action="/accounts/rimandaattivazione/" method="post" data-abide novalidate>
				{% csrf_token %}
			  	<div class="row">
				  	<div class="large-12 small-centered columns">
					  	<label>
						  	<input name="email" id="email_reset" type="email" placeholder="{% trans "email" %}" aria-describedby="emailHelp" required/>
					  	</label>
				  	</div>
			  	</div>
			  	<br>
			  	<div class="row">
				  	<div class="large-12 text-center columns no-pad">
					  	<button  class="button bg-dark-blue radius expanded no-margin" type="submit"><strong>Reinvia</strong> &nbsp;<i class="fa fa-arrow-right"></i></button>
				  	</div>
			  	</div>
		  	</form>
		</div>
	</div>

	<button class="close-button" data-close aria-label="Close modal" type="button">
    	<span aria-hidden="true">&times;</span>
  	</button>
</div>



</div>







{% endblock %}
