/* line 32, ../../../../style/scss/_/callout-card.scss */
.callout-card {
  background: #fff;
  border: 1px solid #333;
  margin: 1rem 0;
  overflow: hidden;
}
/* line 40, ../../../../style/scss/_/callout-card.scss */
.callout-card .card-label {
  border-color: transparent #333 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #333 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
/* line 47, ../../../../style/scss/_/callout-card.scss */
.callout-card.primary {
  border-color: #446CB3;
}
/* line 50, ../../../../style/scss/_/callout-card.scss */
.callout-card.primary .card-label {
  border-color: transparent #446CB3 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #446CB3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
/* line 56, ../../../../style/scss/_/callout-card.scss */
.callout-card.secondary {
  border-color: #ADB2BD;
}
/* line 59, ../../../../style/scss/_/callout-card.scss */
.callout-card.secondary .card-label {
  border-color: transparent #ADB2BD transparent transparent;
  border-color: rgba(255, 255, 255, 0) #ADB2BD rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
/* line 65, ../../../../style/scss/_/callout-card.scss */
.callout-card.info {
  border-color: #89c4f4;
}
/* line 68, ../../../../style/scss/_/callout-card.scss */
.callout-card.info .card-label {
  border-color: transparent #89c4f4 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #89c4f4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
/* line 76, ../../../../style/scss/_/callout-card.scss */
.callout-card.alert {
  border-color: #F22613;
}
/* line 82, ../../../../style/scss/_/callout-card.scss */
.callout-card.alert .card-label {
  border-color: transparent #F22613 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #F22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
/* line 92, ../../../../style/scss/_/callout-card.scss */
.callout-card.success {
  border-color: #87D37C;
}
/* line 98, ../../../../style/scss/_/callout-card.scss */
.callout-card.success .card-label {
  border-color: transparent #87D37C transparent transparent;
  border-color: rgba(255, 255, 255, 0) #87D37C rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
/* line 108, ../../../../style/scss/_/callout-card.scss */
.callout-card.warning {
  border-color: #F89406;
}
/* line 114, ../../../../style/scss/_/callout-card.scss */
.callout-card.warning .card-label {
  border-color: transparent #F89406 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #F89406 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
/* line 126, ../../../../style/scss/_/callout-card.scss */
.callout-card .card-label {
  border-style: solid;
  border-width: 0 70px 40px 0;
  float: right;
  height: 0px;
  width: 0px;
  transform: rotate(360deg);
}
/* line 135, ../../../../style/scss/_/callout-card.scss */
.callout-card .callout-card-content {
  padding: 20px;
}
/* line 139, ../../../../style/scss/_/callout-card.scss */
.callout-card.radius {
  border-radius: 20px;
}
/* line 143, ../../../../style/scss/_/callout-card.scss */
.callout-card .label-text {
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -40px;
  top: 2px;
  white-space: nowrap;
  transform: rotate(30deg);
}
