/* line 1, ../../../../style/scss/_/footer.scss */
.footer {
  padding-bottom: 50px;
  color: #AAB2BD;
  background-color: #434955;
  font-size: 14px;
  line-height: 24px;
}
/* line 7, ../../../../style/scss/_/footer.scss */
.footer .titolo {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin: 0px 0px 25px;
  color: #FFFFFF;
}
/* line 15, ../../../../style/scss/_/footer.scss */
.footer .footer-section {
  margin-top: 50px;
}
/* line 18, ../../../../style/scss/_/footer.scss */
.footer a {
  color: #FFFFFF;
}
/* line 21, ../../../../style/scss/_/footer.scss */
.footer a:hover {
  color: #AAB2BD;
}
/* line 24, ../../../../style/scss/_/footer.scss */
.footer .icon-box {
  margin-bottom: 20px;
}
/* line 26, ../../../../style/scss/_/footer.scss */
.footer .icon-box .icon-wrap {
  width: 20px;
  margin-right: 20px;
  display: inline-block;
}
/* line 30, ../../../../style/scss/_/footer.scss */
.footer .icon-box .icon-wrap .fa {
  margin-top: 1px;
  color: #82D6EF;
}
/* line 35, ../../../../style/scss/_/footer.scss */
.footer .icon-box .testo {
  display: inline-block;
}

/* line 41, ../../../../style/scss/_/footer.scss */
.under-footer {
  background-color: #353B47;
  color: #565F73;
  font-size: 14px;
  line-height: 1.42857;
}
/* line 47, ../../../../style/scss/_/footer.scss */
.under-footer .row {
  padding-top: 10px;
}
/* line 50, ../../../../style/scss/_/footer.scss */
.under-footer .testo {
  padding-top: 12px;
  padding-bottom: 14px;
}
